<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a a asp-controller="Home" asp-action="Index"><i class="fas fa-coffee"></i> Nước Hoa VioPerfume</a>
                    </div>
                    <p>Nước hoa là một sản phẩm mỹ phẩm được tạo ra từ sự kết hợp của các hợp chất hóa học và tinh dầu tự nhiên, có mục đích tạo ra mùi hương dễ chịu cho cơ thể, quần áo, hoặc không gian xung quanh. Từ xa xưa, nước hoa đã trở thành một phần không thể thiếu trong cuộc sống, vừa để làm đẹp vừa thể hiện cá tính và phong cách.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="footer__widget">
                    <h6>Các liên kết nhanh</h6>
                    <ul>
                        <li><a asp-controller="Products" asp-action="Index">Sản phẩm</a></li>
                        <li><a asp-controller="News" asp-action="Index">Tin tức</a></li>
                        <li><a asp-controller="About" asp-action="Index">Về chúng tôi</a></li>
                        <li><a asp-controller="Contact" asp-action="Index">Liên hệ</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="footer__newslatter">
                    <h6>Thông tin liên hệ</h6>
                    <div class="footer__contact">
                        <a href="https://maps.app.goo.gl/H4av77K2T18hH6H59" target="_blank"><i class="fas fa-location-arrow"></i>  229 Đặng Tiến Đông, Đống Đa, Hà Nội</a>
                        <a href="tel:(84.24) 37663311"><i class="fas fa-phone"></i>  096 599 8668</a>
                        <a href="mailto:vperfume.vn@gmail.com"><i class="fas fa-envelope"></i> vperfume.vn@gmail.com</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="footer__newslatter">
                    <h6>Theo dõi chúng tôi</h6>
                    <div class="footer__social">
                        <a href="https://www.facebook.com/dhgtvtcaugiay" title="Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/coffee/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.twitter.com" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Bản quyền &copy; <script>document.write(new Date().getFullYear());</script>. Mọi quyền bảo lưu</p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
