<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta1.1.jpg">
                    <div class="instagram__text">
                        <i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/vioperfumes/?utm_source=ig_web_button_share_sheet" target="_blank">@@vioperfume</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta2.2.jpg">
                    <div class="instagram__text">
                        <i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/vioperfumes/?utm_source=ig_web_button_share_sheet" target="_blank">@@vioperfume</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta3.2.jpeg">
                    <div class="instagram__text">
                        <i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/vioperfumes/?utm_source=ig_web_button_share_sheet" target="_blank">@@vioperfume</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta4.1.jpg">
                    <div class="instagram__text">
                        <i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/vioperfumes/?utm_source=ig_web_button_share_sheet" target="_blank">@@vioperfume</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta5.1.jpg">
                    <div class="instagram__text">
                        <i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/vioperfumes/?utm_source=ig_web_button_share_sheet" target="_blank">@@vioperfume</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta6.1.jpg">
                    <div class="instagram__text">
                        <i class="fab fa-instagram"></i>
                        <a href="https://www.instagram.com/vioperfumes/?utm_source=ig_web_button_share_sheet" target="_blank">@@vioperfume</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
