
@{
    ViewData["Title"] = "Về chúng tôi";
    ViewData["About"] = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Breadcrumb Begin-->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-controller="home" asp-action="index">
                        <i class="fa-solid fa-house"></i>
                        Trang chủ
                    </a>
                    <span>Về chúng tôi</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->

<!--About Section Begin-->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="blog__details__content">
                    <div class="blog__details__item">
                        <img src="../img/blog/details/blog-details2.jpg" alt="">
                        <div class="blog__details__item__title">
                            <span class="tip"></span>
                            <h4>Về chúng tôi</h4>
                        </div>
                    </div>
                    <div class="blog__details__desc">
                        <p>
                            VioPerfume là một thương hiệu nước hoa nổi tiếng với các sản phẩm có hương thơm quyến rũ và độc đáo. Các loại nước hoa của VioPerfume thường được làm từ các nguyên liệu tự nhiên và chất liệu cao cấp, mang lại mùi hương mạnh mẽ và bền lâu. VioPerfume còn nổi tiếng với thiết kế bao bì sang trọng và phong cách, tạo cảm giác tinh tế và lịch lãm cho người sử dụng. trụ.
                        </p>
                        <p>
                            Những Dòng Sản Phẩm Nổi Bật
                            VioPerfume Classic Collection: Dòng nước hoa kinh điển với hương thơm thanh lịch, phù hợp cho mọi dịp.

                            VioPerfume Floral Collection: Tập hợp các loại nước hoa với hương hoa quyến rũ và tinh tế.

                            VioPerfume Intense Collection: Những mùi hương đậm đà, quyến rũ, lý tưởng cho những buổi tối đặc biệt.
                        </p>
                        <p>
                            Điểm Đặc Biệt của VioPerfume
                            Nguyên Liệu Tự Nhiên: VioPerfume sử dụng các nguyên liệu tự nhiên và cao cấp, đảm bảo an toàn cho da và thân thiện với môi trường.

                            Thiết Kế Sang Trọng: Bao bì và chai nước hoa được thiết kế tinh xảo, phù hợp để làm quà tặng hay sử dụng cá nhân.

                            Độ Lưu Hương: Nước hoa của VioPerfume có khả năng lưu hương lâu dài, giúp bạn tự tin suốt cả ngày dài.
                        </p>
                        <p>
                            Một Số Dòng Nước Hoa Được Yêu Thích
                            VioPerfume Elegance: Hương thơm thanh thoát, dịu dàng từ hoa nhài và hoa hồng.

                            VioPerfume Passion: Sự kết hợp nồng nàn của hổ phách và gỗ đàn hương.

                            VioPerfume Fresh: Hương cam chanh tươi mát, đầy sức sống.
                        </p>
                        <p>
                            Hãy đến với Nước Hoa VioPerfume để chọn cho mình 1 loại nước hoa phù hợp với bản thân hoặc có thể làm quà tặng cho bạn bè hoặc người thương!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About Section End-->

